<header class="app-header">
  <nav class="navbar">

<!--    &lt;!&ndash; “All” resets the category filter &ndash;&gt;-->
<!--    <span-->
<!--      (click)="resetFilters()"-->
<!--      [class.active]="!selectedCategory && !selectedDate"-->
<!--      class="category-item">-->
<!--  All Events-->
<!--</span>-->

<!--    &lt;!&ndash; Categories list &ndash;&gt;-->
<!--    <div class="categories">-->
<!--      <span *ngFor="let category of categories" (click)="selectCategory(category)" class="category-item">-->
<!--        {{ category }}-->
<!--      </span>-->
<!--    </div>-->

<!--    &lt;!&ndash; Dates list &ndash;&gt;-->
<!--    <div class="dates">-->
<!--      <span *ngFor="let date of dates" (click)="selectDate(date)" class="date-item">-->
<!--        {{ date }}-->
<!--      </span>-->
<!--    </div>-->

    <!-- Navigation buttons -->
    <div class="nav-buttons">
      <button routerLink="">Main page</button>
      <button routerLink="/login">Login</button>
      <button routerLink="/cart">Cart</button>
    </div>
  </nav>
</header>

<main class="app-main">
<router-outlet></router-outlet>


</main>
