<header class="app-header">
  <nav class="navbar">

    <!-- “All” resets the category filter -->
    <span
      (click)="resetFilters()"
      [class.active]="!selectedCategory && !selectedDate"
      class="category-item">
  All Events
</span>

    <!-- Categories list -->
    <div class="categories">
      <span *ngFor="let category of categories" (click)="selectCategory(category)" class="category-item">
        {{ category }}
      </span>
    </div>

    <!-- Dates list -->
    <div class="dates">
      <span *ngFor="let date of dates" (click)="selectDate(date)" class="date-item">
        {{ date }}
      </span>
    </div>

    <!-- Navigation buttons -->
    <div class="nav-buttons">
      <button routerLink="">Main page</button>
      <button routerLink="/login">Login</button>
      <button routerLink="/cart">Cart</button>
    </div>
  </nav>
</header>

<main class="app-main">
  <app-event-list
    [category]="selectedCategory"
    [date]="selectedDate">
  </app-event-list>



</main>
